* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Mukta', sans-serif;
}

body {
    display: flex;
    align-items: center;
    padding: 300px;
    height: 100vh;
    background-color: #ffffff;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    gap: 30px;
    margin: 30px;
}

header a {
    margin-right: 40px;
    color: black;
    font-size: 24px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

header a:hover {
    color: pink;
    font-size: 27px;
}

.amore-doces {
    height: 300px;
    width: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
}

button {
    color: black;
    background-color: pink;
    border-radius: 6px;
    border: none;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 0.3px;
    transition: 0.5s ease-in-out;
    margin-top: 50px;
    text-transform: uppercase;
    
}

button:hover {
    width: 210px;
    height: 60px;
    font-size: 16px;
}

.caixa-mae {
    width: 100vw;
    height: 100vh;
    margin: 30px;
    margin-top: 200px;
}

.caixa-mae h1 {
    color: black;
    font-size: 24px;
    letter-spacing: 0.3px;
}

.caixa-mae p {
    color: black;
    font-size: 24px;
    letter-spacing: 0.3px;
    margin-top: 3px;
}


.link-whatsapp img {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

@media screen and (max-width: 1100px) {

    body {
        padding: 0;
    }

    .amore-doces {
        height: 200px;
        width: 600px;
    }

    
    .caixa-mae {
    margin-top: 200px;
    }

    .caixa-mae h1 {
    font-size: 21px;
    }

    .caixa-mae p {
       font-size: 21px;
       width: auto;
    }

    button {
        width: 170px;
        height: 45px;
        font-size: 12px;
    }
    
    button:hover {
        width: 180px;
        height: 45px;
        font-size: 14px;
    }

}